*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Plus Jakarta Sans", sans-serif;
}
.top_header{
    width: 100%;
    position: fixed;
    background: #00a7c1;
    top: 0;
    z-index: 1000;
    padding: 10px 0px;
}
.top_links li a{
    font-size: 15px;
}
#top_icon{
    font-size: 18px;
    color: white;
    transition: 0.5s;
}

.top_icon_box{
    width: 35px;
    height: 35px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px 0px 6px 0px;
    transition: 0.5s;
}
.top_icon_box:hover i{
    color: #00a7c1 !important;
}

.header{
    width: 100%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 0px;
    position: fixed;
    top: 55px;
    z-index: 10000;
}

.logo{
    width: 150px;
}

.header_main_flex_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.active_line{
    color: #00a7c1 !important;
    position: relative;
}
.active_line:before{
    content: '';
    position: absolute;
    width: 100% !important;
    height: 2px;
    background: #00a7c1 !important;
    bottom: -1px;
}
.home_menu{
    display: flex;
    gap: 35px;
    margin-bottom: 0px;
    list-style: none;
}
.home_menu li a{
    color: black;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    transition: 0.5s;
}
.home_menu li a:before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background:#00a7c1;
    bottom: -1px;
    right: 0;
    transition: 0.5s;
}
.home_menu li a:hover{
    color: #00a7c1 !important;
}
.home_menu li a:hover:before{
    width: 100%;
    left: 0;
}

.header_btn{
    padding: 7px 20px;
    border: none;
    border-radius: 15px 0px 15px 0px;
    background: #00a7c1;
    color: white;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;
}
.header_btn:before{
    content: '';
    position: absolute;
    width: 15px;
    border-radius: 50%;
    height: 15px;
    background: #000635;
    top: -8px;
    left: 10px;
    transition: 0.5s;
    z-index: -1;
}
.header_btn:hover:before{
    background: #000635;
    width: 100%!important;
    height: 100%!important;
    left: 0;
    top: 0;
    border-radius: 0px;
}

/* header css end */

/* home_css start */

.home_section{
    width: 100%;
    height: 70vh;
    background-image: url(../images/bg_1.avif);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    margin-top: 134px;
}
.home_section:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000069;
    z-index: -1;
}

.home_section_2{
    width: 100%;
    height: 70vh;
    background-image: url(../images/bg_2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    margin-top: 134px;
}
.home_section_2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000069;
    z-index: -1;
}

.home_section_3{
    width: 100%;
    height: 70vh;
    background-image: url(../images/bg_3.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    margin-top: 134px;
}
.home_section_3:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000069;
    z-index: -1;
}

.home_section_4{
    width: 100%;
    height: 70vh;
    background-image: url(../images/bg_4.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    margin-top: 134px;
}
.home_section_4:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000069;
    z-index: -1;
}

.home_section_5{
    width: 100%;
    height: 70vh;
    background-image: url(../images/bg_5.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    margin-top: 134px;
}
.home_section_5:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000069;
    z-index: -1;
}
.home_section_6{
    width: 100%;
    height: 70vh;
    background-image: url(../images/bg_6.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    margin-top: 134px;
}
.home_section_6:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000069;
    z-index: -1;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    font-size: 20px !important;
    color: white !important;
    font-weight: 600;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    font-size: 20px !important;
    color: white !important;
    font-weight: 600;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    width: 40px !important;
    height: 40px !important;
    background: #00a7c1 !important;
    border-radius: 50% !important;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    width: 40px !important;
    height: 40px !important;
    background: #00a7c1 !important;
    border-radius: 50% !important;
}

.content_box{
    padding-top: 53px;
}


.sub_heading{
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    margin-bottom: 10px;
    background: rgb(1, 165, 192);
    padding: 8px 20px;
    border-radius: 50px;
}
.heading{
    color: rgb(255, 255, 255);
    font-size: 55px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: capitalize;
    margin: 6px 0px;
}
.para{
    color: rgb(255, 255, 255);
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 28px;
}
.btn_2{
    background: #000F38;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;
}
.btn_2:before{
    background: #00a7c1;
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 10px;
    top: -7px;
    border-radius: 50%;
}
.btn_2:hover:before{
    background: #00a7c1;
    width: 100%!important;
    height: 100%!important;
    left: 0;
    top: 0;
    border-radius: 0px;
}

.number_section{
    width: 100%;
    background: #00a7c1;
}

.visitor_number_box{
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}


.icon_box {
    height: 90px;
    width: 90px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50px;
    margin-bottom: 20px;
    position: relative;
}

.icon_box:before {
    content: "";
    position: absolute;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    border: 2px dashed #fff;
    border-radius: 50%;
    animation: working_process 20s linear infinite;
}
@keyframes working_process{
    100%{
        transform: rotate(360deg);
    }
}

.number_yoga_img{
    width: 58px;
}

.counter{
    display: block;
    line-height: 1;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}
.title{
    color: #fff;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
}

.number_heading{
    text-align: center;
    color: #000635;
    font-size: 30px;
    font-weight: 700;
    padding-top: 30px;
}

.span_heading{
    color: #000635;
}

.general_information_section{
    width: 100%;
    padding-bottom: 40px;
    background-image: url(../images/general_bg.png);
    background-size: cover;
    background-position: center;
}

.general_information_box{
    width: 100%;
    /* background: #EFF8FB; */
    border-radius: 10px;
    padding: 15px;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    backdrop-filter: blur(10px);
    margin-top: 15px;
}

.general_information_box:hover{
    transform: translate(0px, -5px);
}

.general_icon_box{
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#general_icon{
    font-size: 50px;
    color: #00a7c1;
}

.general_heading{
    font-size: 23px;
    color: #000635;
    font-weight: 700;
    transition: 0.5s;
    padding-top: 15px;
}

.general_para{
    color: #808080de;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s;
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }

  .popup-content {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    text-align: center;
    position: relative;
    animation: fadeIn 0.4s ease-in-out;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    color: #333;
    cursor: pointer;
  }

  .video-container {
    margin-top: 15px;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
  }

  .goverment_section{
    width: 100%;
    background: #00a7c124;
    padding-bottom: 40px;
  }

  .flower_img{
    width: 50px;
    margin: auto;
    display: flex;
    transform: translate(0px, 25px);
    animation: img_rotate 1s alternate infinite;
  }

  @keyframes img_rotate{
    0%{
        transform: translate(0px, 25px) rotate(0deg);
    }
    100%{
        transform: translate(0px, 25px) rotate(15deg);
    }
  }

  .goverment_box{
    width: 100%;
    background: white;
    border-radius: 6px;
    position: relative;
    border: 1px solid #8080809e;
    z-index: 1;
    padding: 20px 0px;
  }
  .goverment_box::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #00a7c1;
    bottom: 0;
    z-index: -1;
    border-radius: 6px;
    transition: 0.5s;
  }

  .goverment_box:hover:before{
    height: 100%;
  }
  .goverment_box:hover .general_heading{
    color: white;
  }

  .goverment_box:hover .general_para{
    color: #ffffffed;
  }

  .goverment_box:hover .header_btn{
    background: white;
    color: black;
  }

  .goverment_box button:hover{
    color: white !important;
  }

  .looking_section{
    width: 100%;
    background-image: url(../images/bg_3.webp);
    background-position: center;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
    padding-bottom: 50px;
  }

  .looking_section:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000b0;
    z-index: -1;
  }

  .heading_looking{
    font-size: 31px;
    font-weight: 600;
    color: white;
    text-align: center;
    padding-top: 40px;
  }

  .message_recording_section{
    width: 100%;
    background: #0006352e;
    padding-bottom: 50px;
  }

   .recording-card {
      background: #ecf0f1;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      transition: transform 0.3s ease;
      margin-top: 10px;
    }

    .recording-card:hover {
      transform: translateY(-5px);
      background-color: #d0e6f7;
    }

    .recording-card h4 {
      margin-bottom: 10px;
      color: #34495e;
    }

    audio {
      width: 100%;
      margin-top: 10px;
    }